

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Venika Anand, Chaitanya Varma Kanumuri">


    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">

    <!-- Bootstrap core CSS -->
   <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 1000px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/product/product.css" rel="stylesheet">
  </head>
  <body>

    <header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="/map">Squirrel Mappings</a>
    <a class="py-2 d-none d-md-inline-block" href="/sightings/">Squirrel Sightings</a>
    <a class="py-2 d-none d-md-inline-block" href="">Squirrel General Statistics</a>
    <a class="py-2 d-none d-md-inline-block" href="/admin">Admin Page</a>
  </nav>
</header>

    <main role="main">
      
<title>Statistics of Squirrels</title>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-9>
          <div class="card mb-9 shadow-sm">
            <div class="card-body" >
              <p class="card-text">
                <strong>Stats of Squirrels</strong>
                <br>
              </p >
              <li>Till now we captured information about a total of {{total_Sq}} Squirrels from NYC Central Park.</li>
      		<br>
      		<li>Squirrel count by Fur color {{Sq_fur_color}}</li>
      		<li>Squirrel count by Observed location {{Sq_loc}}</li>
      		<br>
      		<li>Squirrel count by Time of day {{Sq_time}}</li>
      		<li>Squirrel count by Age group {{Sq_Agegroup}}</li>
			<li>Squirrel count by Park sector {{Sq_hectare}}</li>
      		</ul>

    </main>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
     
    
    </div>
    <div class="col-4 col-md" margin-top: auto;>
      <h5 style=" width: 250px;">Project Member Details</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" >Venika Anand </a></li>
        <li><a class="link-secondary" >Chaitanya Varma Kanumuri</a></li>
        
      </ul>
    </div>
    <div class="col-3 col-md">
      <h5 style=" width: 200px;">UNI</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" >va2439@columbia.edu</a></li>
        <li><a class="link-secondary" >ck3025@columbia.edu</a></li>
    
      </ul>
      </div>

      <div class="col-6 col-md">
      <h5 style=" width: 300px;">LinkedIn</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://www.linkedin.com/in/venikaanand/">Venika Anand</a></li>
        <li><a class="link-secondary" href="https://www.linkedin.com/in/kanumuri-chaitanya-varma/">Chaitanya Varma Kanumuri</a></li>
    
      </ul>
      </div>



    
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </body>
</html>
